<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.coronationmb">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:name=".activityModule.activityModule.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_lion"
        android:label="Asset Management"
        android:roundIcon="@mipmap/ic_lion"
        android:supportsRtl="true"

        android:usesCleartextTraffic="true"

        android:theme="@style/AppTheme"
        tools:replace="android:label">
        <activity
            android:name=".activityModule.activityModule.TermAndConditonActivity"
            android:label="@string/title_activity_term_and_conditon"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activityModule.activityModule.CalculatorActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GrayStatusBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.NewFundTransferActivity"
            android:label="@string/title_activity_new_fund_transfer"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activityModule.activityModule.PaystackWebActivity" />
        <activity android:name=".activityModule.activityModule.OnboardingActivity" />
        <activity
            android:name=".activityModule.activityModule.NewRedemptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.NewSubscriptionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.ChangePasswordActivity"
            android:label="@string/title_activity_change_password"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.SignUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.DashboardActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.GrayStatusBar"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity
            android:name=".activityModule.activityModule.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.AcctSetUpActivity"
            android:label="Sign Up"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.UserCreateAcctPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.LoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activityModule.activityModule.SplashScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>